@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-list {
  @apply list-none pl-6;
}
.custom-list li {
  @apply relative mb-2;
}
.custom-list li::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: -1rem;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #22d3ee;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}